* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box; 
}

body, 
html {
  overflow-x: hidden;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  display: flex;
  color: white;
  z-index: 2;
  position: relative;
  padding: 4rem 8rem;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: aquamarine;
}


.title {
  color: rgb(255, 255, 255);
  z-index: 2;
  position: absolute;
  font-size: 3rem;
  left: 50%;
  top: 75%;
  margin-top: 5rem;
  transform: translate(-50%, -75%);
}